*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}


body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
  /* padding-inline: 1rem; */
  padding: 1rem 1rem;
  width: 20vw;
  display: flex;
  flex-direction: column;
  /* border-width: 5px; */
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 1rem;
  gap: 0.4rem;
  box-shadow: 0 0 0px  rgb(255, 0, 132);
  background: 
  linear-gradient(to right bottom,rgb(21, 20, 20),black) padding-box,
  conic-gradient(from var(--angle) ,black,rgb(255, 1, 128),rgb(255, 1, 128),black) border-box;
  animation: rotation 4s linear infinite;
  transition: all 0.3s linear;
    text-shadow: 0 0 0px rgb(249, 1, 117);
    color: whitesmoke;
    animation-play-state: paused;
}


.card:hover{
  animation-play-state: running;
    border: 5px solid rgba(255, 255, 255, 0);
     box-shadow: 0 0 60px  rgb(255, 0, 132);
     color: rgb(217, 30, 120);
     text-shadow: 0 0 50px rgb(249, 1, 117);

}


.card img{
  width: 100%; 
  object-fit: cover;
  margin-bottom: 1rem;
}

.card h2{
  font-size: 1.9rem;

}

.card p{
  font-size: 0.98rem;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  from{
    --angle:0deg;
  }

  to{
    --angle:360deg;
  }
  
}

@media (min-width:300px) and (max-width:700px) {
   .card{
    width: 30vh;
    
   }

   h2{
    font-size: 1.3rem;
   }

   p{
    font-size: 0.9rem;
   }
  }


 @media (min-width:701px) and (max-width:1000px) {
   .card{
    width: 30vh;
    
   }
   
} 



 @media (min-width:1800px) {
   .card{
    width: 20vw;
    
   } 

   .card h2{
    font-size: 2.1rem;

   }

   .card p{
    font-size: 1.3rem;
   }
   
}