*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html,body{
  width: 100%;
  height: 100%;
}

:root{
 --x:200px;
 --y:200px;
}
/* body{
  background:radial-gradient( 140px at var(--x) var(--y),rgba(255, 255, 255, 0.674),red);
} */

main{
  width: 100%;
  height: 100%;

}

main video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
    background:radial-gradient( 100px at var(--x) var(--y),rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

  z-index: 2;
}

 


