* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  background-color: black;
  width: 100%;
  height: 100%;  
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
   flex-direction: column;
   padding: 7rem 1rem;
   gap: 3rem;
}

h2{
  font-size: 3rem;
  color:rgb(174, 174, 249);;
  font-weight: bold;
  text-transform:uppercase;
}

.keyboard{
  background-color: rgb(174, 174, 249);
   max-width: 900px;
   display: flex;
   flex-direction: column;
   width: 100%;
   border: 1px solid rgb(26, 26, 81);
   border-radius: 1rem;
   
}

.lines{
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
   gap: 0.3rem;
  
   
}

.box{
  text-align: center;
  width: 100%;
  padding: 0.9rem 1rem;  
  font-weight: bolder;
  font-size: 1.3rem;
  border-radius: 0.4rem;
 box-shadow:1px 10px 10px rgb(125, 125, 235);
  border: 1.9px solid rgb(45, 44, 46);
  background-color: black;
  color: #f9f9f9;

}

.line-two{
  padding:0.6rem 3rem;
}

.line-three{
  padding: 0.6rem 8rem;
  
}

.box:active{
  scale:0.97;
}

@media (min-width:300px) and (max-width:700px) {
  main{
    padding: 2rem 0.3rem;
  }

  .keyboard{
    width: 100%;
    border-radius: 0.89rem;
    padding: 1rem 0.9rem;
  }
  h2{
    font-size: 1.6rem;
  }

  .lines  .box{
    width: 100%;
    align-items: center;
     padding: 0.7rem 1rem;

  }

  .line-one .box{
    width: 10%;
  }
  .lines .box{
     font-size: 0.8rem;    
  

}

.line-two .box{
  text-align: center;
  width: 4%;
}

.line-three .box{
  width: 4%;
}
}

@media (min-width:300px) and (max-width:349px)  {
  
   main{
    padding: 2rem 0.3rem;
  }

  .keyboard{
    width: 100%;
    border-radius: 0.89rem;
    padding: 1rem 0.9rem;
  }
  h2{
    font-size: 1.6rem;
  }

  .lines  .box{
    width: 100%;
    align-items: center;
     padding: 0.7rem 0rem;

  }

  .line-one .box{
    width: 5%;
  }
  .lines .box{
     font-size: 0.8rem;    
  

}

.line-two .box{
  text-align: center;
  width: 4%;
}

.line-three .box{
  width: 4%;
}
}