*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}


body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.4rem;
   background-color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
  height: 150px;
  width: 150px;
  transition: all 0.3s linear;
}

#box1{
  background-color: aqua;
}

#box2{
    background-color: rgb(120, 3, 223);

}

#box3{
  background-color: aquamarine;
}

.box:hover{
  transform: scale(1.2) !important;
  opacity: 1 !important;
}

 body:has(.box:hover) .box{
  transform: scale(0.8);
  opacity: 0.6;
} 