* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  background-color: black;
  width: 100%;
  height: 100%;
  cursor: none;
  
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  position: fixed;
  width: 60px;
  height: 60px;
  object-fit: cover;
 transform:translate(-50% ,-50%)
}