*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}


body{
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* gap:3rem; */
   background-color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   anchor-name: --some-anchor;  /*by default*/
   background-image: url("https://images.unsplash.com/photo-1764410847831-c56c374beee5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
       background-size: cover;
   background-position: bottom;
  }

.box{
  margin-top: 10px;
  height: 50px;
  width: 100px;
  border-radius: 1rem;
  padding: 1rem;
  /* color: whitesmoke; */
  /* border: 2px solid red; */
  /* margin-left: 20px; */
  

}

.box:hover{
    anchor-name: --some-anchor;

}


#red{
  background-color: red;
}

#blue{
  background-color: rgb(55, 3, 241);
}

#green{
  background-color: green;
}


/* position element */
.anchor{
  background-color: rgb(211, 210, 210);
  border-radius: 1rem;
  position: absolute;
   top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  pointer-events: none;
  position-anchor: --some-anchor;
   transition: all 0.3s linear;
   mix-blend-mode: difference;
}




