*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
    background-color: black;
width: 100%;
height: 100%;

}

main{
 width: 100%;
height: 100%;
 display: flex;
justify-content: center;
align-items: center;

}

.dowload-option{
    padding: 3rem;
     /* width:400px;
    height: 250px; */
display: flex;
justify-content: center;
background-color: blueviolet;
border-radius: 1rem;
flex-direction: column;
align-items: end;
}

.dowload{
    /* height: 100%;
    width: 100%; */
    display: flex;
 justify-content: center;
align-items: center;
gap:10rem;
}
.dowload p{
    margin-top: 17px;
    font-size: 2.7rem;
}

.load{
    width: 100%;
    height: 18px;
    border-radius: 1rem;
    /* background-color: saddlebrown; */
    border: 3px solid black;
}

.fil{
   width: 0%;
    height:100%;
    border-radius: 1rem;
    background-color: saddlebrown;
    /* border: 3px solid black;  */
}

button{
    
    margin-top:2rem;
    font-weight: bold;
    color: white;
    background-color: rgb(6, 6, 113);
    padding: 1.1rem 1rem ;
    border-radius: 0.95rem;
    border: none;
    /* font-size: 1.4rem; */

    cursor: pointer;
}

button:active{
    scale: 0.97;
}